doctype html
html(lang='en')
  head 
    meta(charset="UTF-8")
    link#theme(href="../css/404Page.css", type="text/css", rel="stylesheet")
    title 401
    link(rel="icon",href="resources/images/logo.png")
  body
    h2 401 UNAUTHORIZED🚪