doctype html
html(lang='en')
  head 
    meta(charset="UTF-8")
    link#theme(href="../css/404Page.css", type="text/css", rel="stylesheet")
    title 404
    link(rel="icon",href="resources/images/logo.png")
  body
    h2 404
      p PAGE NOT FOUND