html(lang='en')
  head 
    meta(charset="UTF-8")
    link#theme(href="../css/logOut.css", type="text/css", rel="stylesheet")
    title Log Out
  body
    .container
      h3 Logout 
      p You have been successfully logged out. Thank you for your support!