doctype html
html(lang='en')
  head 
    meta(charset="UTF-8")
    link#theme(href="../css/main.css", type="text/css", rel="stylesheet", crossorigin="use-credentials")
    title SavoryHarbor
    link(rel="icon" href="/images/main_imgs/logo.png" )
  body
    include navlinks
  
    main
      .res-pics
        .img-item#item1
          // Restaurant Table and Chairs by Rene Asmussen from Pexels
          img(src="/images/main_imgs/restaurant.jpg", alt="kitchen_pic")
          // Begin AI-Generated Content
          .restaurant-name SavoryHarbor
          // End AI-Generated Content
        .img-item#item2
          // Man and Woman Wearing Black and White Striped Aprons Cooking
          // by Elle Hughes from Pexels
          img(src="/images/main_imgs/kitchen.jpg", alt="kitchen_pic")
        .img-item#item3
          // Person Performing Coffee Art by Chevanon Photography from Pexels
          img(src="/images/main_imgs/coffee.jpg", alt="coffee_pic")
        .img-item#item4
          //Shallow Focus Photography of Several Pizzas by Narda Yescas
          img(src="/images/main_imgs/pizza.jpg", alt="pizza_pic")
        .img-item#item5
          // Noodles with Seafood and Vegetables Served in a Ceramic Plate by makafood from Pexels
          img(src="/images/main_imgs/seafood.jpg", alt="seafood_pic")
        .img-item#item6
          // A Bowl of Delicious Hot Noodles with Vegetables and Nuts by Eiliv Aceron from Pexels
          img(src="/images/main_imgs/ramen.jpg", alt="ramen_pic")
        .img-item#item7
          // Pile of Sliced Wheat Breads by Marianna OLE from Pexels
          img(src="/images/main_imgs/bread.jpg", alt="bread_pic")
          // Begin AI-Generated Content
          .about-us "Food is the unspoken language that transcends cultural boundaries, 
            |a universal expression of 
            em love 
            |and 
            em creativity
            |.It holds the power to 
            em evoke memories, stir emotions
            |, and 
            em create connections
            |. 
            |In the kitchen, we don't just prepare ingredients; we weave stories with flavors, 
            |craft experiences that linger on the palate and in the heart. 
            |It's about respecting the ingredients, understanding the techniques, and, above all, 
            |embracing the joy of sharing. Cooking is an art, a symphony of tastes orchestrated 
            |with precision and passion. It's a journey that begins with the first chop and ends 
            |with a satisfied smile. In the world of culinary creation, every dish is a masterpiece, 
            |every meal a celebration of life's richness and diversity." 
            br
            b Chef Gordon Ramsay
            // End AI-Generated Content
            
          
          
