nav#navigation-bar
  ul.menu
    li 
      img(src="/images/main_imgs/logo.png", alt="logo")

    li 
      a(href="/main") Home

    li 
      a(href="/menu") Menu
    
    li 
      a(href="/review") Reviews

    li 
      a(href="/food") SavorMemories

    li 
      a(href="/cart") Your Order
    
    li 
      a(href="/user/logOut") Log Out
